{% extends 'RedSolidariaMainBundle:Default:index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets  'bundles/redsolidariamain/css/login.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
     <div class="container">
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}


    {#    <label for="username">Username:</label>
        <input type="text" id="_username" name="_username" value="" />

        <label for="password">Password:</label>
        <input type="password" id="_password" name="_password" />#}


        <form class="form-signin" role="form" action="{{ path('login_check') }}" method="post">
            <h2 class="form-signin-heading">Ingresar</h2>
            <input type="text" class="form-control" placeholder="Usuario" required autofocus name="_username" value="">
            <input type="password" class="form-control" placeholder="Contraseña" required id="_password" name="_password">
        {#    <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>#}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
        </form>
     </div>
{% endblock %}
