{% extends 'RedSolidariaMainBundle:Default:index.html.twig' %}

{% block body %}
    <div class="container">

        <p>Username: {{ app.user.username }}</p>
        <p>rol: {{ rol }}</p>
        

    </div> <!-- /container -->

{% endblock %}